div(mat-dialog-title)
  span TODOの変更
mat-dialog-content
  form([formGroup]='todoForm')
    mat-form-field
      input(matInput, placeholder='TODO title', formControlName='name')
    mat-form-field
      textarea(matInput placeholder='TODO Detail', formControlName='content')

mat-dialog-actions
  button(mat-stroked-button, mat-dialog-close) 閉じる
  button(mat-stroked-button, type='submit', (click)='onClickSubmit()') 変更

