mat-toolbar#header
  mat-toolbar-row
    span Raru TODO
    .right
      button(mat-raised-button) TODOの追加
mat-sidenav-container#body-container
  mat-sidenav(mode="side", opened="true")
    content-menu
  mat-sidenav-content
    content-content
