mat-toolbar#header
  mat-toolbar-row
    span Raru TODO
    .right
      button(mat-raised-button, (click)="openAddModal()") TODOの追加
mat-sidenav-container#body-container
  mat-sidenav(mode="side", opened="true")
    ui-menu(
      [rows] = "todos$|async"
    )
  mat-sidenav-content
    ui-content(
      [todo] = "selectedState$|async"
    )
