div(style='text-align: center')
  h1 welcome to {{ title }}

  h2 material button test
  .button-row
    button(mat-button) ボタン
    button(mat-button, color="primary") ボタン2
    button(mat-raised-button) ボタン3

  h2 slider sample
  mat-slider(
    max="100",
    min="0",
    step="1",
    value="2"
  )

<router-outlet></router-outlet>
