@import views.html.helper
@import net.syrup16g.todo.viewmodels.UserViewModel.signUpForm
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@()(implicit request: RequestHeader, messages: Messages)


@layout.main(title = "Todo - User登録") {

  <p>Register User<p>
  @helper.form(action = helper.CSRF(net.syrup16g.todo.controllers.user.routes.RegisterController.store)) {
    <fieldset>
      @helper.inputText(signUpForm("nickname"), '_label -> "名前")
      @helper.inputText(signUpForm("mail"),    '_label -> "メールアドレス")
      @helper.inputPassword(signUpForm("password.main"),    '_label -> "パスワード")
      @helper.inputPassword(signUpForm("password.confirm"), '_label -> "パスワード (確認)")
    </fieldset>
    <input type="submit" value="登録">
  }
}
