@import views.html.helper
@import net.syrup16g.todo.form._
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(signUpForm: Form[SignUp])(implicit request: RequestHeader, messages: Messages)


@layout.main(title = "Todo - User登録") {

  <p>Register User<p>
  @helper.form(action = net.syrup16g.todo.controllers.user.routes.RegisterController.store) {
    @helper.CSRF.formField
    <fieldset>
      @helper.inputText(signUpForm("nickname"), '_label -> "名前", '_showConstraints -> false)
      @helper.inputText(signUpForm("mail"),     '_label -> "メールアドレス", '_showConstraints -> false)
      @helper.inputPassword(signUpForm("password.main"),    '_label -> "パスワード", '_showConstraints -> false)
      @helper.inputPassword(signUpForm("password.confirm"), '_label -> "パスワード (確認)", '_showConstraints -> false)
    </fieldset>
    <input type="submit" value="登録">
  }
}
