
<mat-toolbar id="header" color="primary">
  <mat-toolbar-row><span>Raru TODO</span>
    <div class="right">
      <button mat-raised-button="mat-raised-button" (click)="openAddModal()">TODOの追加</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="sidebar" mode="side" opened="true">
    <ui-menu [rows]="rows$|async" [selectedId]="(selected$|async)?.id"></ui-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <ui-content [todo]="selected$|async"></ui-content>
    <button (click)="onClickError()">error</button>
  </mat-sidenav-content>
</mat-sidenav-container>