:host {
  #header {
    .right {
      text-align: right;
      width: 100%;
    }
  }

  .sidebar {
    min-width: 200px;
    width: 20vw;
    border: solid 1px #E0E0E0;
  }

  mat-sidenav-content {
    height: 100vw;
  }
}
