mat-toolbar#header(color="primary")
  mat-toolbar-row
    span Raru TODO
    .right
      button(mat-raised-button, (click)="openAddModal()") TODOの追加
mat-sidenav-container
  mat-sidenav.sidebar(mode="side", opened="true")
    ui-menu(
      [rows] = "rows$|async",
      [selectedId] = "(selected$|async)?.id"
    )
  mat-sidenav-content
    ui-content(
      [todo] = "selected$|async"
    )

    button((click)="onClickError()") error
    button((click)="onClickErrorJson()") errorJson
    a(href="/error")
      button htmlError
