ng-container(*ngIf="!!todo")
  .header
    .header__title {{ todo.name }}
    .header__actions
      .action
        button(mat-raised-button, (click)="openEditModal()")
          mat-icon edit
      .action
        button.delete(mat-raised-button, (click)="openDeleteModal()")
          mat-icon delete
  .content
    | {{ todo.content }}
